In [49]:
# Dependencies
import gmaps
import pandas as pd
import numpy as np
import requests
import json
from config import gkey
from geopy import geocoders
import time

# Google API Key
gmaps.configure(api_key=gkey)

In [50]:
# import csv with winery names and country names
# File to Load
wine_csv = "resources/red_and_white_combined.csv"

# Read wine data file and store into Pandas DataFrames
full_df = pd.read_csv(wine_csv)

In [51]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             12430 non-null  object
 1   Country          12430 non-null  object
 2   Region           12430 non-null  object
 3   Winery           12430 non-null  object
 4   Rating           12430 non-null  float64
 5   NumberOfRatings  12430 non-null  int64
 6   Price            12430 non-null  float64
 7   Year             12430 non-null  object
 8   Type             12430 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 874.1+ KB

In [52]:
full_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,Type
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017,white
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010,white
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017,white
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018,white
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018,white

In [53]:
# pulling columns needed for google API and adding them to new df
df = pd.DataFrame()
df["country"] = full_df["Country"].astype(str)
df["region"] = full_df["Region"].astype(str)
df["winery"] = full_df["Winery"].astype(str)
df["name"] = full_df["Name"].astype(str)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  12430 non-null  object
 1   region   12430 non-null  object
 2   winery   12430 non-null  object
 3   name     12430 non-null  object
dtypes: object(4)
memory usage: 388.6+ KB

In [55]:
test = df.iloc[:5]
test.head()

,country,region,winery,name
0,Italy,Toscana,Famiglia Castellani,Vermentino 2017
1,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,Ronco Broilo 2010
2,Austria,Südburgenland,Weinbau Uwe Schiefer,Weisser Schiefer s 2017
3,Germany,Rheinhessen,Krämer - Straight,Chardonnay 2018
4,Italy,Terre Siciliane,Luna Gaia,Maganza Zibibbo 2018

In [56]:
# LARGE API DATA PULL - UNCOMMENT TO RUN. BUT UNECESSARY SINCE DATA WAS ADDED TO A CSV TO PREVENT NEED TO REPULL FROM API.

rows = []

# assume null
lat = np.nan
lng = np.nan

for indx, row in test.iterrows():
    # flat dictionary
    new_row = {} 
    
    # Target city
    text = f"{row.winery}"
    country = f"{row.country}"
    wine_name = f"{row.name}"
    serves_wine = True
    print(text)
    
    # Build the endpoint URL
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={text}&country={country}&serves_wine={serves_wine}&key={gkey}"
    
    try:
        # Run a request to endpoint and convert result to json
        response = requests.get(target_url)
        if(response.status_code == 200):

            geo_data = response.json()

            # Extract latitude and longitude
            if (len(geo_data["results"]) > 0):
                lat = geo_data["results"][0]["geometry"]["location"]["lat"]
                lng = geo_data["results"][0]["geometry"]["location"]["lng"]

            else:
                lat = np.nan
                lng = np.nan
                print("no winery found")
        else:
            lat = np.nan
            lng = np.nan
            
    except Exception as e:
        print(e)

         # nuke it, everything null
        lat = np.nan
        lng = np.nan
                    
    # flatten data and append
    new_row["name"] = wine_name
    new_row["winery"] = text
    new_row["country"] = country
    new_row["latitude"] = lat
    new_row["longitude"] = lng
    
    rows.append(new_row)
    
    # let api breathe
    time.sleep(3)

Famiglia Castellani
Conte d'Attimis Maniago
Weinbau Uwe Schiefer
Krämer - Straight
Luna Gaia

In [57]:
rows

[{'name': '0',
  'winery': 'Famiglia Castellani',
  'country': 'Italy',
  'latitude': nan,
  'longitude': nan},
 {'name': '1',
  'winery': "Conte d'Attimis Maniago",
  'country': 'Italy',
  'latitude': 46.0096606,
  'longitude': 13.3416919},
 {'name': '2',
  'winery': 'Weinbau Uwe Schiefer',
  'country': 'Austria',
  'latitude': 47.2340461,
  'longitude': 16.3484524},
 {'name': '3',
  'winery': 'Krämer - Straight',
  'country': 'Germany',
  'latitude': 47.2340461,
  'longitude': 16.3484524},
 {'name': '4',
  'winery': 'Luna Gaia',
  'country': 'Italy',
  'latitude': 47.2340461,
  'longitude': 16.3484524}]

In [11]:
df_loc = pd.DataFrame(rows)
df_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       12430 non-null  object
 1   winery     12430 non-null  object
 2   country    12430 non-null  object
 3   latitude   12429 non-null  float64
 4   longitude  12429 non-null  float64
dtypes: float64(2), object(3)
memory usage: 485.7+ KB

In [16]:
df2 = df_loc.dropna()
df2.reset_index(drop=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12429 entries, 1 to 12429
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       12429 non-null  object
 1   winery     12429 non-null  object
 2   country    12429 non-null  object
 3   latitude   12429 non-null  float64
 4   longitude  12429 non-null  float64
dtypes: float64(2), object(3)
memory usage: 582.6+ KB

In [17]:
df2.head()

  name                   winery  country   latitude  longitude
1    1  Conte d'Attimis Maniago    Italy  46.009661  13.341692
2    2     Weinbau Uwe Schiefer  Austria  47.234046  16.348452
3    3        Krämer - Straight  Germany  47.234046  16.348452
4    4                Luna Gaia    Italy  47.234046  16.348452
5    5                Schneider  Germany  47.234046  16.348452

In [18]:
df2_to_csv = dict(archive_name='lat_and_long.csv')  
df2.to_csv('lat_and_long.csv', index=False)